<div class="admin-container">
  
  <div class="admin-header">
    <h2>⚙️ Panel de Administración</h2>
    <button *ngIf="vistaActual !== 'MENU'" (click)="cambiarVista('MENU')" class="btn-back">
      ⬅ Menú
    </button>
  </div>

  <div *ngIf="vistaActual === 'MENU'" class="dashboard-grid">
    <div class="card-menu" (click)="cambiarVista('CLIENTES')">
      <div class="icon">👤</div><h3>Clientes</h3>
    </div>
    <div class="card-menu" (click)="cambiarVista('VEHICULOS')">
      <div class="icon">🚲</div><h3>Vehículos</h3>
    </div>
    <div class="card-menu" (click)="cambiarVista('ALQUILERES')">
      <div class="icon">📅</div><h3>Alquileres</h3>
    </div>
    <div class="card-menu" (click)="cambiarVista('DEVOLUCIONES')">
      <div class="icon">✅</div><h3>Devoluciones</h3>
    </div>
  </div>

  <div *ngIf="vistaActual === 'CLIENTES'" class="crud-panel">
    <h3>
      {{ editandoCliente ? '✏️ Editando Cliente' : '👤 Nuevo Cliente' }}
    </h3>
    
    <div class="form-row">
      <input class="input" placeholder="Nombre" [(ngModel)]="formCliente.nombre">
      <input class="input" type="number" placeholder="Edad" [(ngModel)]="formCliente.edad">
      <label class="checkbox-label">
        <input type="checkbox" [(ngModel)]="formCliente.esFrecuente"> VIP
      </label>
      
      <button class="btn-save" (click)="guardarCliente()">
        {{ editandoCliente ? 'Actualizar' : 'Agregar' }}
      </button>

      <button *ngIf="editandoCliente" class="btn-cancel" (click)="cancelarEdicion()">
        Cancelar
      </button>
    </div>

    <ul class="list-group">
      <li *ngFor="let c of clientes$ | async">
        <div class="info">
          <strong>{{c.nombre}}</strong> ({{c.edad}}) 
          <span class="tag vip" *ngIf="c.esFrecuente">VIP</span>
        </div>
        <div class="actions">
          <button class="btn-edit" (click)="cargarClienteParaEditar(c)">✏️</button>
         <button class="btn-delete" (click)="eliminarCliente(c._id!)">🗑️</button>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="vistaActual === 'VEHICULOS'" class="crud-panel">
    <h3>
      {{ editandoVehiculo ? '✏️ Editando Vehículo' : '🚲 Nuevo Vehículo' }}
    </h3>

    <div class="form-row">
      <input class="input" placeholder="Código" 
             [(ngModel)]="formVehiculo.codigo" 
             [readonly]="editandoVehiculo"
             [title]="editandoVehiculo ? 'El código no se puede cambiar' : ''">
             
      <input class="input" placeholder="Nombre" [(ngModel)]="formVehiculo.nombre">
      <input class="input" type="number" placeholder="Tarifa" [(ngModel)]="formVehiculo.tarifaDia">
      
      <label class="checkbox-label">
        <input type="checkbox" [(ngModel)]="formVehiculo.requiereEdad"> +18
      </label>

      <button class="btn-save" (click)="guardarVehiculo()">
        {{ editandoVehiculo ? 'Actualizar' : 'Agregar' }}
      </button>

      <button *ngIf="editandoVehiculo" class="btn-cancel" (click)="cancelarEdicion()">
        Cancelar
      </button>
    </div>

    <ul class="list-group">
      <li *ngFor="let v of vehiculos$ | async">
        <div class="info">
          <strong>[{{v.codigo}}]</strong> {{v.nombre}} - ${{v.tarifaDia}}
        </div>
        <div class="actions">
          <button class="btn-edit" (click)="cargarVehiculoParaEditar(v)">✏️</button>
          <button class="btn-delete" (click)="eliminarVehiculo(v.codigo)">🗑️</button>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="vistaActual === 'ALQUILERES'" class="crud-panel">
    <h3>📅 Alquileres Activos</h3>
    <table class="admin-table">
      <thead><tr><th>Cliente</th><th>Vehículo</th><th>Inicio</th><th>Acción</th></tr></thead>
      <tbody>
        <ng-container *ngFor="let a of alquileres$ | async">
          <tr *ngIf="a.estado === 'ACTIVO'">
            <!-- <td>{{a.clienteId.nombre || 'Desconocido'}}</td> -->
<td>{{ getClienteNombre(a.clienteId) }}</td>

            <td>{{a.vehiculoCodigo}}</td>
            <td>{{a.fechaInicio | date:'dd/MM'}}</td>
            <td><button class="btn-delete-sm" (click)="eliminarAlquiler(a._id!)">Cancelar</button></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  
  </div>